* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

header h1 {
    cursor: pointer;;
}

main {
    margin-top: 50px;
}

h1 {
    margin: 0;
}

select {
    margin-top: 25px;
}

ul {
    padding: 0 0 0 14px;
}

li + li {
    margin-top: 10px;
}