$space-base: 5px;
$space-xsmall: calc(#{$space-base} * 1.5);
$space-small: calc(#{$space-base} * 2);
$space-medium: calc(#{$space-base} * 4);
$space-large: calc(#{$space-base} * 10);
$space-xlarge: calc(#{$space-base} * 20);