h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
}

p,
li {
    font-family: $font-primary;
    font-weight: 400;
}

h1 {
    @include underline($right: -25px, $width-hover: calc(100% + 25px));
    font-size: 38px;

    @media only screen and (min-width: $tablet) {
        font-size: 5vw;
    }
    @media only screen and (min-width: $desktop) {
        font-size: 4vw;
    }
}

h1 + p {
    margin-top: 25px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}