/*--------------------------------------------------------------
# Settings - Variables globales comme les polices et les couleurs
--------------------------------------------------------------*/
@import "1-settings/_breakpoints";
@import "1-settings/_colors";
@import "1-settings/_fonts";
@import "1-settings/_space";
@import "1-settings/_transitions";


/*--------------------------------------------------------------
# Tools - Mixins et fonctions par défaut
--------------------------------------------------------------*/
@import "2-tools/_mixin";


/*--------------------------------------------------------------
# Generic - Styles de base (réinitialisation, box-sizing, etc.)
--------------------------------------------------------------*/
@import "3-generic/_purify";


/*--------------------------------------------------------------
# Elements - Éléments HTML
--------------------------------------------------------------*/
@import "4-elements/_header";
@import "4-elements/_link";
@import "4-elements/_list";
@import "4-elements/_main";
@import "4-elements/_typo";


/*--------------------------------------------------------------
# Objects - Classes non décorées
--------------------------------------------------------------*/
@import "5-objects/_typo";
@import "5-objects/_wrappers";


/*--------------------------------------------------------------
# Components - Components
--------------------------------------------------------------*/
@import "6-components/_grid";


/*--------------------------------------------------------------
# Utilities - Utilitaires et !important (peu)
--------------------------------------------------------------*/
@import "7-utilities/_utilities";