* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 8vw;
}

main {
    margin-top: 50px;
}

div + div {
    margin-top: 25px;
}

h1 {
    margin: 0;
}

span {
    font-size: 2em;
}

.compteur {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 115px;
}

.compteur > div {
    display: flex;
}

.compteur button + button {
    margin-left: 5px;
}

.nombre {
    transition: opacity .2s ease,
                transform .2s ease;
}

.nombre--transition-haut {
    opacity: 0;
    transform: translateY(-20px);
}

.nombre--transition-bas {
    opacity: 0;
    transform: translateY(20px);
}