body {
    height: 400vh;
    padding: 8vw 0;
}

button {
    background-color: #414141;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 0px 414141;
    color: #ffffff;
    cursor: pointer;
    display:inline-block;
    outline: none;
    padding: 12px 25px;
    transition: background-color .3s ease;
}

button:hover {
    background-color: #57a818;
}


.wrapper {
    padding: 0 8vw;
}


.box {
    background-color: #f38630;
    border-radius: 6px;
    display: inline-block;
    height: 50px;
    margin-top: 4px;
    position: relative;
    width: 50px;
}


.intersection {
    background: linear-gradient(to bottom, gainsboro, gainsboro 25%, silver 25%, silver 25.2%, gainsboro 25.2%, gainsboro 75%, silver 75%, silver 75.2%, gainsboro 75.2%);
    height: 100vh;
    margin-top: 100vh;
    position: relative;
}

.intersection__bg {
    background-color: pink;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1%;
}